<script id="component-container-template" type="text/x-handlebars-template">
    <div class='container-fluid component' >
    </div>
</script>

<script id="component-grid-row-template" type="text/x-handlebars-template">
    <div class='row component' >
    </div>
</script>

<script id="component-grid-column-template" type="text/x-handlebars-template">
    <div class="component" >
    </div>
</script>