.treeview li > ul {
    margin-top: 20px;
    margin-left: 20px;
}

.treeview li:hover {
    background: #f5f5f5;
}

.treeview li > span.glyphicon {
    margin-right: 5px;
    cursor: pointer;
}